<p id="notice"><%= notice %></p>

<ul>
  <% @cart.order_items.each do |order_item| %>
    <li><%= order_item.quantity %> &times; <%= order_item.food.name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
