<p id="notice"><%= notice %></p>

<p>
  <strong>Food:</strong>
  <%= @order_item.food_id %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @order_item.cart_id %>
</p>

<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
