<!DOCTYPE html>
<html>
  <head>
    <title>FoodDelivery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main">
      <h1>​Food Delivery</h1>
    </header>
    <section class="content">
      <nav class="side_nav">
        <div id="cart" class="carts">
          <%= render_if((@cart && @cart.order_items.any?), @cart)  %>
        </div>
        <ul>
          <li><a href="/"​>Home</a></li>
          <li><a href="/restaurants">Restaurants</a></li>
          <li><a href="/foods">Foods</a></li>
          <li><a href="/orders">Orders</a></li>
        </ul>
      </nav>
      <main class="<%= controller.controller_name %>">
        <%= yield %>
      </main>
    </section>
  </body>
</html>
